{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "rules": {
        "no-unused-vars": [1, {
             "vars": "local", 
             "args": "all", 
             "ignoreRestSiblings": false
             }],
        "no-console": [0,{"allow": ["warn", "error","log"]}],
        "prefer-const": ["error", {
            "destructuring": "any",
            "ignoreReadBeforeAssign": false
        }],
        "getter-return": 2,
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true
                }
            }
        ],
        "valid-jsdoc": [
            "error",
            {
                "requireReturn":false,
                "requireReturnType":true,
                "requireParamDescription":false,
                "requireReturnDescription":false,
                "prefer": {
                    "arg": "param",
                    "argument": "param",
                    "class": "constructor",
                    "return": "returns",
                    "virtual": "abstract"
                }  
            }
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            1,
            "single"
        ],
        "semi": [
            2,
            "always"
        ]
    },

    "overrides": [
        {
            "files": "**/src/*.js",
            "excludedFiles": "temp/jsdoc-yuml/test/calisma.js"
        }
    ]
}